# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Database
*.sqlite
*.sqlite-journal

# Coverage
coverage/

# Logs
logs/
*.log

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.idea/
.vscode/
*.swp
*.swo